@model IEnumerable<Models.ML_Class>

@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<members>
    @foreach (var item in Model)
    {
        <i class="fas fa-user"></i><strong> @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</strong><br />
        <i class="fas fa-envelope"></i><a href="mailto:+ @Html.DisplayFor(modelItem => item.Email)"> @Html.DisplayFor(modelItem => item.Email)</a><br />
        <br />
        }
</members>
